body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('front.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  height: 80vh;
  margin: 2% auto;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 15px #333;
}

.header {
  text-align: center;
  padding-bottom: 5px;
}

.header h1 {
  color: rgb(252, 247, 153);
  font-size: 40px;
  margin-bottom: 5px;
}

.heading {
  color: rgb(252, 247, 153);
  font-size: 30px;
  margin-bottom: 5px;
}

.headingBody {
  color: rgb(252, 247, 153);
  font-size: 20px;
  margin-bottom: 5px;
}

.btn
  {
    /* width: 10%; */
    font-size: 18px!important;
    /* height: 10%; */
  }


  .uploadOR
  {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(252, 247, 153);
    font-size: 20px;
  }

  .footer
    {
       margin: 5%;
    } 

    .upload-file
    {
       margin-top: 10%;
    }

    .upload-link
    {
      margin-bottom: 5%;
    }


@media screen and (max-width: 560px)
{
  .container {
    width: 80%;
    
  }
    .header h1 {
      color: rgb(252, 247, 153);
      font-size: 30px;
      margin-bottom: 5px;
    }

    .heading {
      color: rgb(252, 247, 153);
      font-size: 20px;
      margin-bottom: 5px;
    }

    .headingBody {
      color: rgb(252, 247, 153);
      font-size: 15px;
      margin-bottom: 5px;
    }


}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('front.jpg');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  html {
    font-family: 'lato' ,'Arial' , sans-serif;
    text-rendering: optimizeLegibility;
  }
  
  .container {
    width: 30%;
    height: 85vh;
    margin: 2% auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 15px #333;
  }
  
  .header {
    text-align: center;
    padding-bottom: 5px;
  }
  
  .header h1 {
    color: rgb(252, 247, 153);
    font-size: 40px;
    margin-bottom: 5px;
  }
  
  
  
  .upload-section
  {
    width: 100%;
    margin-top: 5%!important;
  }
  
  .upload-file
  {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .file-form
  {
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .file-form-input
  {
    max-width: 50%;
    border-radius: 50px;
    border: 1px solid #41b3a3;
    color: white;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
  }
  
  .file-form-input:focus
  {
    outline: none;
  }
  
  .btn
  {
    width: 10%;
    font-size: 20px!important;
    height: 10%;
     max-width: 30%; 
  }
  
  
  .uploadOR
  {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .uploadOR > span
  {
    font-size: 15px;
    font-weight: 400;
    color: #f4f7c5;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  
  .upload-link
  {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  
  .link-form
  {
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .link-form-input
  {
    width: 60%;
    border: 1px solid #41b3a3;
    display: inline-block;
    padding: 4px 15px 4px 15px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
  }
  
    .footer
    {
        padding-left: 2%;
        padding-right: 2%;
    } 
  
   */