*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    color:#535151;
    font-family: 'lato' ,'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;    
}

.second-main{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7.1),rgba(0, 0, 0, 0.7)),url('front.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh; 
}

a {
    color:#f9d89c!important;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #f0e3e3;
}

h3
{
    color:#f9d89c!important;
}

.result-img
{
    width: 300px;
    height: 250px;
    border : 2px solid #3b6978;
    margin-top: 2%;
}

th
{
    color: #cceabb;
    margin: 5%;
}

.header
{
        width: 100%;
        padding-top: 5px;

}



.info
{
        padding-top: 5px;
        width: 100%;
        margin-top: 5%;

}

.header-text
{
    letter-spacing: 1px;
}

.table-custom
{
    margin-top: 2%;
    width: 60%;
    font-size: 18px;
}

td {
    justify-content: center;
}

form{
    margin: 2%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 515px)
{

    th
    {
        font-size: 15px!important;
        
    }

    td
    {
        font-size: 15px!important;
    }
    .header-text
    {
        letter-spacing: 1px;
        font-size: 20px!important;    
    }

    .result-img
    {
        width: 300px;
        height: 250px;
        border : 2px solid #3b6978;
    }
    .header
    {
        margin-top: 1%!important;
    }
    .info
    {
        margin-top: 5%!important;
        margin-bottom: 10%!important;
    }

    .table-custom
    {
        width: 90%;
        font-size: 10px;
    }

    .second-main
    {
        margin-bottom: 5%!important;
    }
}

@media screen and (min-width: 350px) and (max-width: 600px)
{
    .result-img
    {
        width: 220px;
        height: 200px;
        border : 2px solid #3b6978;
    }

}






